<mat-card>
  <div *ngIf="isLogin">
    <h3>Sign In</h3>
  </div>

  <div *ngIf="isSignup">
    <h3>Create account</h3>
  </div>

  <div *ngIf="isReset">
    Password Reset
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'accent'">
      <input matInput
             formControlName="email"
             type="email"
             placeholder="Email"
             autocomplete="off"/>

      <mat-error *ngIf="email.invalid && email.dirty ">
        Please, enter a valid email address
      </mat-error>
    </mat-form-field>


    <mat-form-field [color]="email.valid && 'accent'" *ngIf="!isReset">
      <input matInput
             formControlName="password"
             type="password"
             placeholder="Password"
             autocomplete="off"/>

      <mat-error *ngIf="password.invalid && password.dirty">
        The password must be at least 6 digits long
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="email.valid && 'accent'" *ngIf="isSignup">
      <input matInput
             formControlName="passwordConfirm"
             type="password"
             placeholder="Password confirm"
             autocomplete="off"/>

      <mat-error *ngIf="passwordConfirm.dirty && !passwordMatch">
        Passwords must match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error" *ngIf="message">{{ message }}</mat-error>

    <button *ngIf="isReset"
            mat-raised-button
            color="accent"
            type="submit">
      Send email
    </button>

    <button *ngIf="!isReset"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid || !passwordMatch">Submit
    </button>
  </form>

  <div *ngIf="isSignup">
    <button mat-stroked-button
            color="warn" (click)="changeType('login')">
      Already have a account? Click here to login
    </button>
  </div>

  <div *ngIf="isLogin">
    <button mat-stroked-button
            color="warn" (click)="changeType('signup')">
      New here? Create a account
    </button>

    <button mat-stroked-button
            color="warn" (click)="changeType('reset')">
      Forgot your password?
    </button>
  </div>

  <div *ngIf="isReset">
    <button mat-stroked-button
            color="warn" (click)="changeType('login')">
      Back
    </button>
  </div>
</mat-card>
